<div class="row">
    <nb-card class="col-12">
        <nb-card-body>
            <h6>Список оборудования.</h6>
            <div class="row">
                <button nbButton (click)="exportPDF()">PDF</button>
                <!--<button style="margin-left: 10px;" nbButton (click)="exportPDFWithSecret()">PDF Secret('123')</button>-->
                <dx-data-grid id="gridContainer"
                              [dataSource]="equipments"
                              [showBorders]="true"
                              (onRowRemoved)="editEnd()"
                              (onRowUpdated)="editEnd()"
                              (onRowInserted)="editEnd()">
                    <dxo-editing
                            mode="popup"
                            [useIcons]="true"
                            [allowUpdating]="true"
                            [allowDeleting]="true"
                            [allowAdding]="true">
                    </dxo-editing>
                    <dxo-group-panel
                            [visible]="true"
                    ></dxo-group-panel>
                    <dxo-paging [pageSize]="15"></dxo-paging>
                    <dxo-pager
                            [showNavigationButtons]="true"
                            [showPageSizeSelector]="true"
                            [showInfo]="true">
                    </dxo-pager>
                    <dxo-group-panel [visible]="false"></dxo-group-panel>
<!--                    <dxo-export [enabled]="true"
                                fileName="equipments.xlsx"
                                [allowExportSelectedData]="false">
                    </dxo-export>-->
                    <dxi-column dataField="equipmentName" caption="Название" dataType=""></dxi-column>
                    <dxi-column dataField="equipmentType" caption="Тип" dataType=""></dxi-column>
                    <dxi-column dataField="equipmentCode" caption="Код" dataType=""></dxi-column>
                </dx-data-grid>
            </div>
        </nb-card-body>
    </nb-card>
</div>
